(cors) {
	@cors_preflight method OPTIONS
	@cors header Origin {args.0}

	handle @cors_preflight {
		header Access-Control-Allow-Origin "{args.0}"
		header Access-Control-Allow-Headers "Content-Type"
		respond "" 204
	}

	handle @cors {
		header Access-Control-Allow-Origin "{args.0}"
	}
}

:80 {
	import cors *

	root * /builder/asu/

	handle_path /store* {
		root * /builder/public/store
		file_server
	}

	header Access-Control-Allow-Methods "POST, GET, OPTIONS"
	header Access-Control-Allow-Headers "*"
	header Access-Control-Allow-Origin "*"
	reverse_proxy * http://127.0.0.1:8000

	# https://caddyserver.com/docs/caddyfile/directives/basic_auth#basicauth
	#	basic_auth {
	#		# Username "Bob", password "hiccup"
	#		Bob $2a$14$Zkx19XLiW6VYouLHR5NmfOFU0z2GTNmpkT/5qqR7hx4IjWJPDhjvG
	#	}
}
