var/
store/
site/
redis/
public/
/squid/
poetry.lock
json/
instance/
htmlcov/
dist/
coverage.xml
cache/
asu.egg-info/
*$py.class
*.swp
*.sig
*.sec
*.py[cod]
*.pub
.vscode/
.venv/
.env
.DS_Store
.direnv/
.coverage.*
.coverage
**/__pycache__/
*.pyc

# asu-libremesh
*~
redis-data/

# grafana
grafana_data/
!grafana/usr/share/grafana/public
